body {
  background: #f6f6f4;
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

body, a, a:visited {
  color: black;
}

header {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > * {
  padding: 5px;
}

header h1 {
  display: inline-block;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 1.2em;
  }
}

aside {
  width: 400px;
  overflow-y: auto;
}

aside ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

aside ol li {
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

aside ol li img {
  height: 14px;
  margin-right: 10px;
}

aside ol li h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside ol li.location:hover {
  background-color: rgba(3, 162, 255, 0.5);
}

aside ol li.bearing:hover {
  background-color: rgba(245, 68, 28, 0.5);
}

article {
  width: 100%;
}

#surveyor-link {
  background-color: #d7da25;
  border-style: solid;
  border-color: #aaad1f;
  padding: 5px 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s, border-color 0.2s;
}

#surveyor-link:hover {
  background-color: #25dad2;
  border-color: #169e98;
}

.mapboxgl-popup-content {
  width: 350px;
  padding: 10px;
}

.mapboxgl-popup-content a > div {
  margin-bottom: 10px;
}

#popup-contents a {
  text-decoration: none;
}

#popup-items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#popup-items li {
  padding: 5px;
}

#popup-items li:first-child {
  padding-left: 0;
}

#popup-items li:last-child {
  padding-right: 0;
}